<form hx-put="/contact/1" hx-target="this" hx-swap="outerHTML">
    <div>
        <label>username</label>
        <input type="text" name="username" value="<enter-here>">
    </div>
    <div class="form-group">
        <label>password</label>
        <input type="text" name="password" value="<enter-here>">
    </div>
    <div class="form-group">
        <label>email</label>
        <input type="email" name="email" value="<enter-here>">
    </div>
    <button class="btn" hx-post="/create">Create</button>
    <button class="btn" hx-get="/contact/1">Cancel</button>
</form>
