<div id="results-section">
    <h1 class="subtitle is-3">In Progress</h1>
    <section class="section">
        {% if percentage_complete < 100 %}
          <div class="container" hx-get="/job/progress" hx-target="#results-section" hx-swap="outerHTML" hx-trigger="load delay:2s">
              <progress class="progress is-success" value="{{ percentage_complete }}" max="100">{{ percentage_complete }}%</progress>
          </div>
        {% endif %}
        <p>Imported {{ percentage_complete }} % out of a total of {{ n_tracks_to_import }} tracks.</p>
        {% if percentage_complete >= 100 %}
          <p>Import almost complete! Finalising...</p>
          <img id="spinner" class="loader" src="/imgs/spin">
        {% else %}
          {% if n_tracks_to_import < 50 %}
          <p>This shouldn't take long. :)</p>
          {% elif n_tracks_to_import < 100 %}
          <p>This may take a few minutes. :)</p>
          {% elif n_tracks_to_import < 500 %}
          <p>This may take a few minutes... Go make a cup of tea. :)</p>
          {% elif n_tracks_to_import < 1000 %}
          <p>This may take an hour or so... Go have a nap. :)</p>
          {% endif %}
        {% endif %}
    </section>
</div>


