<div id="login-form">
  <header>
      <section class="hero is-primary">
          <div class="hero-body">
              <div class="container">
                  <p>SUBBOX - LOGIN</p>
              </div>
          </div>
      </section>
  </header>
  <section class="section">
      <div class="container">
          <form>
              <div>
                  <label>username</label>
                  <input type="text" name="username" value="<enter-here>">
              </div>
              <div class="form-group">
                  <label>password</label>
                  <input type="text" name="password" value="<enter-here>">
              </div>
              <button class="button" hx-post="/user/login" hx-swap="outerHTML" hx-target="#login-form" hx-indicator="#spinner">
                  login
                  <span id="spinner" class="htmx-indicator loader"></span>
              </button>
          </form>
      </div>
  </section>
</div>
