<div id="welcome">
    <p>Account successfully created!</p>
    <br>
    <p>A track has been automatically added to your collection for demonstrative purposes.</p>
    <p>You can listen to this music <a href="/listen">here</a>. Note it may take a minute or so for the music to appear after initial account creation.</p>
    <br>
    <p>If this music is not to your taste, or you're interested in being able to listen to more than one song, then you can add more music by following the steps <a href="/upload">here</a>.</p>
</div>
