{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - DJS</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="container">
            <p>Import existing collection</p>
            <p>Export to RekordBox</p>
        </div>
        <div id="rb-result" hx-target="this" hx-swap="outerHTML">
            <div hx-post="/djs/upload/rekordbox" hx-trigger="start-rekordbox-import from:body">
            </div>
        </div>

        <div id="rb-progress" hx-target="this" hx-swap="outerHTML">
            <div id="process">
                <p>
                    Process uploaded rb collection.
                </p>
            </div>
            <p>
                once you have uploaded rb backup and rb xml, click the process music button. This will import your collection.
            </p>
            <!-- todo do some validation here and only show the progress button iff there are uploaded tracks-->
            <button id="start-rb-upload" hx-get="/job/progress" class="button is-primary" hx-vals='{"type": "start-rekordbox-import"}'>
                process
            </button>


            <div id="export">
                <p>
                    export subbox collection to rb.
                </p>
            </div>
            <p>
                once you have made changes in sub box (adding more tracks or creating/modifying playlists) export to rekordbox. This will import your collection.
            </p>
            <form id="exportform">
                <div>
                    <label>local_root</label>
                    <input type="text" name="local root" value="<enter-here>">
                </div>
                <!-- todo do some validation here and only show the progress button iff there are uploaded tracks-->
                <button class="button is-primary" hx-post="/djs/export/rekordbox" hx-target="#foo" hx-swap="innerHTML" hx-indicator="#exportspinner">
                    Export
                    <img id="exportspinner" class="htmx-indicator loader" src="/imgs/spin">
                </button>
            </form>
        </div>
    </section>
{% endblock %}