{% extends "/shared/_base.html" %}
{% block content %}
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p>SUBBOX - LISTEN</p>
            </div>
        </div>
    </section>
</header>
<section class="section">
    <div class="container">
        <p>
            Listen to your music.
        </p>
        <p>
            Note that clicking this button will redirect you to <a href="https://player.sub-box.net">https://player.sub-box.net</a>, a separate service made for listening to the processes audio files.
        </p>
        <div id="content" hx-target="this" hx-swap="outerHTML">
            <button hx-get="/listen/player" class="button is-primary">
                listen
            </button>
        </div>
    </div>
</section>
{% endblock %}
