{% extends "/shared/_base.html" %}
{% block content %}
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p>SUBBOX - PROCESS</p>
            </div>
        </div>
    </section>
</header>
<section class="section">
    <div class="container">
        <div id="content" hx-target="this" hx-swap="outerHTML">
            <p>
                Process uploaded music.
            </p>
        </div>
        <p>
            once you have uploaded files, click the process music button. This will sort your music, fetch album art etc.
        </p>
        <div id="job-result" hx-target="this" hx-swap="outerHTML">
            <div hx-post="/process/test" hx-trigger="start-job from:body">
            </div>
        </div>
        <div hx-target="this" hx-swap="outerHTML">
            <button id="start-upload" hx-get="/job/progress" class="button is-primary">process</button>
        </div>

    </div>
</section>
{% endblock %}
