{% extends "/shared/_base.html" %}
{% block content %}
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p>SUBBOX - PROCESS</p>
            </div>
        </div>
    </section>
</header>
<section class="section">
    <div class="container">
        <div id="content" hx-target="this" hx-swap="outerHTML">
            <p>
                Process uploaded music.
            </p>
        </div>
        <div id="processbutton">
            <p>
                once you have uploaded files, click the process music button. This will sort your music, fetch album art etc.
            </p>
            <button hx-post="/process/beets" hx-target="processbutton" hx-swap="innerHTML" class="button is-primary">
                process music
            </button>
        </div>
    </div>
</section>
{% endblock %}
