{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - DJS</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="container content">
            <h1 class="title is-1">SubBox Export</h1>
            <p>Export from sub-box to your DJ software.</p>
            <p>Exporting from subbox to the following DJ software tools is supported:</p>
            <ol>
                <li>Rekordbox 5 and 6. <a href="/rb-export">Click Here</a>.</li>
                <li>Serato DJ Pro. <a href="/serato-export">Click Here</a>.</li>
            </ol>
            <p>Support for other tools coming soon! Make a request <a href="/contact">here</a>.</p>
        </div>
    </section>
{% endblock %}