{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - DJS</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="container content">
            <h1 class="title is-1">DJ export</h1>
            <p>Export from sub-box to your DJ software</p>
            <div id="rb-export">
                <h1 class="subtitle is-1">Export</h1>
                <h1 class="subtitle is-3">Serato DJ Pro</h1>
                <p>Tested with Serato DJ Pro Version 3.1.1. It should also work for other versions.</p>
                <p>
                    Export your collection and playlists in sub box to Serato (from Serato you can then play through your hardware DJ system).
                </p>
                <p>
                    To get started, fill out the form below and click export.
                    This will prepare a zip file that you can download to your computer on completion.
                    The zip contains your updated music collection and a Serato Crates directory, containing the crate information for Serato.
                    Once you have downloaded the zip from subbox to your computer you will need to unzip the audio files in the path you set in the 'local root' box below.
                    Finally, you will need to drag and drop the downloaded serato crates directory from subbox in to your local Serato subcrates directory (by default located at ~/Music/_Serato_/Subcrates).
                </p>
                <form id="exportform">
                    <p>set the local root for where you will extract the zip of the audio files on your system. For example: `/Users/bob/subbox`</p>
                    <div class="column is-3">
                        <input class="input" type="text" name="local_root" placeholder="local root">
                    </div>
                    <div id="serato-export-content">
                      <div hx-post="/djs/export/serato" hx-trigger="start-serato-export from:body" hx-target="#serato-export-content" hx-swap="innerHTML" hx-indicator="#spinner">
                      </div>
                      <!-- todo do some validation here and only show the progress button iff there are uploaded tracks-->
                      <div class="column is-3" id="export-button">
                          <button id="start-serato-export" hx-target="#export-button" hx-swap="innerHTML" hx-get="/job/progress" class="button is-primary" hx-vals='{"type": "start-serato-export"}'>
                              Export
                          </button>
                      </div>
                    </div>
                </form>
                <h1 class="subtitle is-4">Importing crates from subbox in to Serato.</h1>
                <p>
                    Copy the Serato 'SubCrates' directory from the downloaded zip file in to your local Serato SubCrates directory (by default located at ~/Music/_Serato_/SubCrates).
                </p>
            </div>
        </div>
    </section>
{% endblock %}