{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - DJS</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="container content">
            <h1 class="title is-1">DJ Import</h1>
            <p>Import from your DJ software</p>
            <h1 class="subtitle is-1">Import</h1>
            <h1 class="subtitle is-3">Serato DJ Pro</h1>
            <p>Coming soon!</p>
        </div>
    </section>
{% endblock %}