{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - ABOUT</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="content">
            <div id="about_section" class="flex flex-col items-left py-10">
                <p>Subbox is a music management and streaming service. Upload your music collection to subbox and it will automatically organise your songs, fetching album art and correcting any misnamed track information. You can then choose to download your updated and organised collection or use subbox to stream your music. Giving you complete control over your own music collection.</p>
                <p>Subbox also provides additional features for DJs, allowing you to import and export your music collection from various DJ software providers.</p>
                <p>In order to use subbox it is important to understand the basics of how the service works.</p>
                <p>There are two stages to uploading your tracks to subbox.</p>
                <ol>
                  <li><a href="/upload">Upload</a> your music files (if you are looking to upload from your DJ software, go to the DJ page <a href="/djs">here</a>).</li>
                    <img src="/imgs/upload" width="604" height="448">
                  <li>Once you have uploaded the music files, <a href="/process">process</a> your uploaded tracks. This will cause subbox to process your music tracks, fetch meta information for the tracks, such as album art and lyrics, so that this information appears in the music player.</li>
                    <img src="/imgs/process" width="604" height="448">
                </ol>
                <p>Once your tracks are uploaded and processed by subbox, you can stream them <a href="/listen">here</a>.</p>
                <img src="/imgs/listen" width="604" height="448">
                <p>To add more music to your collection, repeat steps 1 and 2.</p>
                <p>If you're interested in exporting your subbox collection to your DJ controller, go to the DJ page <a href="/djs">here</a>.</p>
            </div>
        </div>
    </section>
{% endblock %}