{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - ABOUT</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="content">
            <div id="about_section" class="flex flex-col items-left py-10">
                <p>Subbox is a music management and streaming service. Upload your music collection to subbox and it will automatically organise your songs, fetching album art and correcting any misnamed track information. You can then choose to download your updated and organised collection or use subbox to stream your music. Giving you complete control over your own music collection.</p>
                <p>Subbox also provides additional features for DJs, allowing you to import and export your music collection from various DJ software providers.</p>
                <p>
                    Subbox uses a modified version of <a href="https://github.com/jeffvli/feishin">Feishin</a>, an open source and modern music player.
                    Once SubBox is set up, your music will be streamable with a UI that looks like this:
                </p>
                <img src="/imgs/player-screenshot" width="604" height="448">
                <p>In order to use subbox you will first need to create an account. Sign up using the button in the top right.</p>
                <p>Once you have created an account, you will be able to listen to some default music added to your collection.</p>
                <p>To upload more tracks to your account you can either:</p>
                <l>
                    <li>upload individual tracks <a href="upload">here</a>.</li>
                    <li>import from your collection from your DJ software <a href="/djs">here</a>.</li>
                </l>
                <p>Learn more by watching the 'Getting Started' video below.</p>
            </div>
        </div>
    </section>
<section class="section">
    <div class="content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/R7_8Uywc86Y?si=2TZ26ZXW0bUAo_cR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>
{% endblock %}