{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - ABOUT</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="content">
            <div id="about_section" class="flex flex-col items-left py-10">
                <p>Subbox is a service that allows you to upload your audio files and stream them anywhere.</p>
                <p>In order to use subbox it is important to understand the basics of how the service works.</p>
                <ol>
                    <li>create an account (or log on if you already have an account).</li>
                    <li><a href="/upload">Upload</a> your music files (if you are looking to upload from your DJ software, go to the DJ page <a href="/djs">here</a>.</li>
                    <li>Once you have uploaded the music files, <a href="/process">process</a> your uploaded tracks. This will cause subbox to process your music tracks, fetch meta information for the tracks, such as album art and lyrics, so that this information appears in the music player.</li>
                    <li>Once the process stage has completed successfully, go to the <a href="/listen">listen</a> page. This will direct you to the music player where you can listen to your music.</li>
                    <li>To add more music to your collection, repeat steps 2. to 4..</li>
                    <li>If you're interested in exporting your subbox collection to your DJ controller, go to the DJ page <a href="/djs">here</a>.</li>
                </ol>
            </div>
        </div>
    </section>
{% endblock %}