{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - DJS</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="container content">
            <h1 class="title is-1">Overview</h1>
            <p>Subbox allows you to convert to and from your DJ software collection to sub box.</p>
            <p>This means you can stream, edit and organise your collection on the go using sub box and then convert your updates in to the format required for your DJ controller.</p>
            <p>If you are setting up your subbox account for the first time as a DJ, you can either start from scratch or import your existing collection and playlist structure from your DJ software to subbox.</p>
            <p>Once you have imported music, you can stream it <a href="listen">here</a>.
                You can then make changes to your collection as you listen. For example rating tracks, updating playlists and adding tracks.
                Then when you want to export the updates to your DJ software you will need to <a href="djs-export">export</a> from subbox.</p>
            <h1 class="subtitle is-3"><a href="djs-import">Import</a></h1>
            <h1 class="subtitle is-3"><a href="djs-export">Export</a></h1>
        </div>
    </section>
{% endblock %}