{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>SUBBOX - DJS</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="container content">
            <h1 class="title is-1">Overview</h1>
            <p>Subbox allows you to convert to and from your DJ software collection to sub box.</p>
            <p>This means you can stream, edit and organise your collection on the go using sub box and then convert your updates in to the format required for your DJ controller.</p>
            <p>To begin you can import your collection from your DJ software in to subbox so you can start streaming it.</p>
            <p>Once you have imported music, you can stream it <a href="listen">here</a>. You can then make changes to your collection as you listen, for example rating tracks and organising them in to playlists. Then when you want to export the updates to your DJ software you will need to export from subbox.</p>
            <h1 class="subtitle is-3"><a href="djs-import">Import</a></h1>
            <h1 class="subtitle is-3"><a href="djs-export">Export</a></h1>
        </div>
    </section>
{% endblock %}