{% extends "/shared/_base.html" %}
{% block content %}
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p>SUBBOX - PROCESS</p>
            </div>
        </div>
    </section>
</header>
<section class="section">
    <div class="container">
        <div id="process-content">
          <div hx-post="/process/beets" hx-target="#process-content" hx-swap="outerHTML" hx-trigger="start-track-import from:body" hx-indicator="#spinner">
          </div>
          <div id="job-progress">
              <div id="content">
                  <p>
                      Process uploaded music.
                  </p>
              </div>
              <p>
                  once you have uploaded files, click the process music button. This will sort your music, fetch album art etc.
              </p>
              <div class="upload-containers">
                <label>public</label>
                <input type="checkbox" id="public" name="public" value="True">
                <!-- todo do some validation here and only show the progress button iff there are uploaded tracks-->
                <button id="start-upload" hx-target="#job-progress" hx-swap="outerHTML" hx-get="/job/progress" class="button is-primary" hx-vals='{"type": "start-track-import"}' hx-include="#public">
                    process
                </button>
              </div>
          </div>
        </div>
    </div>
</section>
{% endblock %}
