{% extends "/shared/_base.html" %}
{% block content %}
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p>SUBBOX - UPLOAD</p>
            </div>
        </div>
    </section>
</header>
<section class="section">
    <div class="container">
        <p>To upload more music to your account, there are two stages to complete.
        Note if you do not yet have an account with subbox, create one with the sign up button at the top right of this page.
        </p>
        <ol>
            <li>Upload your music files (if you are looking to upload from your DJ software, go to the DJ page <a href="/djs">here</a>).</li>
            <img src="/imgs/upload" width="604" height="448">
            <li>Once you have uploaded the music files, <a href="/process">process</a> your uploaded tracks. This will cause subbox to process your music tracks, fetch meta information for the tracks, such as album art and lyrics, so that this information appears in the music player.</li>
            <img src="/imgs/process" width="604" height="448">
        </ol>
        <p>Once your tracks are uploaded and processed by subbox, you can stream them <a href="/listen">here</a>.</p>
        <img src="/imgs/listen" width="604" height="448">
        <p>To add more music to your collection, repeat steps 1 and 2.</p>
<!--        <p>If you signed up with a DJ account then you can upload private music that only you can listen to (for example music you do not own the royalties to). This music will not be made public so it won't be available to others. Non DJ users can only upload music that they own the royalties to.</p>-->
        <p>
            Note that clicking this button will redirect you to a subsite of subbox. Log in with your subbox credentials and then drag and drop your desired audio tracks in to the 'uploads' folder (upload a zip for faster processing).
        </p>

        <div id="content" hx-target="this" hx-swap="outerHTML">
            <button hx-get="/upload/filebrowser" class="button is-primary">
                upload
            </button>
        </div>
    </div>
</section>
{% endblock %}
