{% extends "/shared/_base.html" %}
{% block content %}
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p>SUBBOX - UPLOAD</p>
            </div>
        </div>
    </section>
</header>
<section class="section">
    <div class="container">
        <p>
            Upload your audio files to subbox.
        </p>
        <p>
            Note that clicking this button will redirect you to a subsite of subbox. Log in with your subbox credentials and then upload your desired audio tracks.
        </p>
        <p>
            If you do not yet have an account with subbox, create one with the sign up button in the top right of this page.
        </p>
        <div id="content" hx-target="this" hx-swap="outerHTML">
            <button hx-get="/upload/filebrowser" class="button is-primary">
                upload
            </button>
        </div>
    </div>
</section>
{% endblock %}
