{% extends "/shared/_base.html" %}
{% block content %}
<header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <p>SUBBOX - UPLOAD</p>
            </div>
        </div>
    </section>
</header>
<section class="section">
    <div class="container">
        <p>
            Upload your audio files to subbox.
        </p>
        <p>
            Note that clicking this button will redirect you to <a href="https://filebrowser.sub-box.net">https://filebrowser.sub-box.net</a>, a separate service made for uploading and downloading files from subbox servers.
        </p>
        <div id="content" hx-target="this" hx-swap="outerHTML">
            <button hx-get="/upload/filebrowser" class="btn btn-primary">
                upload
            </button>
        </div>
    </div>
</section>
{% endblock %}
